
<div id="carouselExampleInterval" class="carousel slide carousel-fade" data-interval=4000 data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="4000">
      <h1 class="about-message text-center text-white">
        Sports Parkは、スポーツの募集サイトです。<br>
        多くの人に、気軽に、楽しく、スポーツをして欲しい<br>
        という願いから作成されたサイトです。
      </h1>
      <%= image_tag 'soccer.jpg', class: 'slide-img w-100' %>
    </div>
    <div class="carousel-item" data-interval="4000">
      <h1 class="about-message text-center text-white">
        Sports Parkは、スポーツの募集サイトです。<br>
        多くの人に、気軽に、楽しく、スポーツをして欲しい<br>
        という願いから作成されたサイトです。
      </h1>
      <%= image_tag 'baseball.jpg', class: 'slide-img w-100' %>
    </div>
    <div class="carousel-item" data-interval="4000">
      <h1 class="about-message text-center text-white">
        Sports Parkは、スポーツの募集サイトです。<br>
        多くの人に、気軽に、楽しく、スポーツをして欲しい<br>
        という願いから作成されたサイトです。
      </h1>
      <%= image_tag 'basketball.jpg', class: 'slide-img w-100' %>
    </div>
    <div class="carousel-item" data-interval="4000">
      <h1 class="about-message text-center text-white">
        Sports Parkは、スポーツの募集サイトです。<br>
        多くの人に、気軽に、楽しく、スポーツをして欲しい<br>
        という願いから作成されたサイトです。
      </h1>
      <%= image_tag 'tennis.jpg', class: 'slide-img w-100' %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">前へ</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">次へ</span>
  </a>
</div>

