


<div id="carouselExampleInterval" class="carousel slide carousel-fade" data-interval=4000 data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="4000">
      <h1 class="about-message text-center text-white">
        Sport Park<br>
        〜Let's enjoy sports〜
      </h1>
      <div>
        <%#= video_tag("/videos/top-video.mp4", autoplay: :true, loop: :true, muted: :true, class: 'video-content') %>
        <video src="<%= asset_path('top-video.mp4') %>" class="video-content" autoplay loop muted ></video>
      </div>
    </div>
    </div>
  </div>

