/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require font-awesome
 */

 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";


// 初期化

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
  height: 100%;
}



// ボタン
.btn {
  margin-top: 20px;
  margin-bottom: 20px;
}


// いいね機能

.like {
  color: gray;
}

.unlike {
  color: red;
}


// aboutページ
.slide-img {
  background-size: cover;
}

#carouselExampleInterval {
  margin: 0 calc(50% - 50vw);
  width: 100vw;
}


.carousel-item {
  position: relative;
}

.about-message {
    position: absolute;
    z-index: 10;
    transform: translate(calc(50vw - 50%),calc(50vh - 50%));
}


// topページ
.video-content {
  margin: 0 calc(50% - 50vw);
  width: 100vw;
}


.top {
  position: relative;

}

.top-message {
    position: absolute;
    z-index: 10;
    transform: translate(calc(50vw - 50%),calc(50vh - 50%));
}

.current_user {
    color: black;
    background-color: #E0FFFF;
    width: fit-content;
    margin: 10px 0 0 auto;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 10px;
}

.visited_user {
    color: black;
    background-color: #E0FFFF;
    width: fit-content;
    margin: 10px auto 0 0;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 10px;
}










